In [ ]:
import pandas as pd
from google.colab import files
df=pd.read_csv("/content/sample_data/archive.zip")

In [ ]:
df

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,1,10.14,0.02,69,26,1,NaN,1,26118,47568,144.0,3,1,0
1996,1997,1,11.77,1.00,24,45,1,1.0,1,2572,8063,NaN,3,1,1
1997,1998,1,16.91,0.22,18,42,0,NaN,0,14933,24753,NaN,2,1,1
1998,1999,0,11.15,0.72,46,45,1,NaN,1,18157,15275,253.0,3,0,1
1999,2000,1,11.36,0.09,41,45,0,NaN,0,20729,30463,230.0,1,1,0

In [ ]:
x=df[["Age"]]
y=df["Blood_Pressure_Abnormality"]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=11)
# print(x_train)
# print(x_test)
# print(y_test)
# print(y_train)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clf=KNeighborsClassifier(n_neighbors=11,leaf_size=20,metric="euclidean")
clf.fit(x_train,y_train)

KNeighborsClassifier(leaf_size=20, metric='euclidean', n_neighbors=11)

In [ ]:
print(clf.score(x_test,y_test))

0.5016666666666667

In [ ]:
print(clf.predict(x_test))
prediction=clf.predict(x_test)
print(y_test)

[1 1 0 0 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 0 0 1 1 1
 0 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 0 0
 1 1 1 1 1 1 1 0 1 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 1 1 1
 0 1 1 0 0 0 1 1 1 0 1 1 1 1 1 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1
 1 1 1 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0 1 1 1 1 1 0 0 0 1 1 1 0 1 0 1 1 0 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 0 1 1 1 1 0 0 1 1 0 1 0 0 1 1 0
 1 1 1 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 0 1 1 0 0 1 1 1 1 1 0 0 1 0 0 1 0
 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1
 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 0 0 0 0 1 1 0 0 0 1 1 1 1 0 1 1 0 1 1 1 0
 1 1 1 1 0 1 1 1 1 1 1 0 0 1 1 0 0 1 0 1 1 0 1 1 0 1 1 0 1 0 0 1 1 0 1 1 0
 0 1 1 0 0 0 0 1 0 1 1 1 1 0 1 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 1 1 1 0 1 1 1
 0 0 0 1 0 0 0 1 0 1 0 1 1 1 0 1 0 1 0 0 0 0 0 1 1 0 1 0 0 1 0 1 0 1 0 1 1
 1 1 0 1 1 0 1 0 0 0 0 0 1 1 1 1 1 0 1 1 1 0 1 0 1 0 1 0 0 0 0 0 1 0 1 1 1
 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 0 1 0 1 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 1 1
 0 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 1 0 0 0 0 0 1 0 0 1 0 1 1 0 0 0 0 1 0
 1 1 1 1 1 0 0 1 0 0 1 0 0 0 0 1 1 0 1 1 1 1 1 1 0 0 1 1 0 1 1 1 0 1 0 1 0
 1 1 1 0 0 1 1 1]
115     0
1779    0
1449    0
145     1
1009    0
       ..
1040    1
870     1
1827    1
1533    1
1590    0
Name: Blood_Pressure_Abnormality, Length: 600, dtype: int64

In [ ]:
from sklearn.metrics import recall_score
re=recall_score(y_test,prediction)
re

0.6111111111111112

In [ ]:
diff=prediction-y_test
print(diff)
print(sum(abs(diff)))

115     1
1779    1
1449    0
145    -1
1009    1
       ..
1040   -1
870    -1
1827    0
1533    0
1590    1
Name: Blood_Pressure_Abnormality, Length: 600, dtype: int64
299

In [ ]:
from sklearn.metrics import recall_score
re=recall_score(y_test,prediction)
re

0.6111111111111112

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report
cm=confusion_matrix(y_test,prediction)
print(cm)

[[136 194]
 [105 165]]

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score

In [ ]:

f1=f1_score(y_test,prediction)
f1

0.5246422893481717

In [ ]:
pr=precision_score(y_test,prediction)
pr

0.4596100278551532